@import "~bpk-stylesheets/index";

.App {
    min-width: 480px;
    .app-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        min-width: 480px;
    }
}