.text-muted {
    color: #878192;
}
.text-success {
    color: #41E089;
}
.right {
    float: right;
}
.left {
    float: left;
}
.resultArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EFEDF1;
    padding: 15px;
    width: 100%;
    min-width: 480px;

    .resultItem {
        flex: 0 1 auto;
        border-radius: 10px;
        background-color: white;
        margin-bottom: 30px;
        padding-right: 15px;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        &.shadow {
            -webkit-box-shadow: 3px 3px 3px 3px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
            -moz-box-shadow:    3px 3px 3px 3px #ccc;  /* Firefox 3.5 - 3.6 */
            box-shadow:         3px 3px 3px 3px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
          }
        .leg {
            padding-top: 5px;
            padding-bottom: 5px;
            &:nth-of-type(2n) {
                padding-bottom: 10px;
            }
            &:nth-of-type( 2n+1 ) {
                padding-bottom: 7.5px;
            }
            .flight-details {
                font-size: 18px;
            }
            .icon {
                float: left;
                height: 50px;
                width: 50px;
                padding-right: 15px;
            }

            .arrow-icon {
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 15px;
                font-size: 20px;
                font-weight: bold;
            }
        }
        .pricing {
            padding-top: 7.5px;
            .price {
                margin: 0 0;
                font-size: 25px;
            }
        }
    }
}

.button-primary {
    background-color: #19BC59;
    color: white;
    width: 100px;
    background-image: linear-gradient(-180deg,#00d775,#00bd68);
    font-size: 15px;
    font-weight: 700;
    line-height: 35px;
    text-align: center;
    padding: .5.625px 16.875px;
    border: 0;
    border-radius: 16.875px;
    text-decoration: none;
    margin-top: 10px;
}

.external-link {
    text-decoration: none;
    padding-bottom: 7.5px;
    padding-top: 7.5px;
    color: lightgrey;
    font-size: 18px;
    &:hover {
        cursor: pointer;
      }
}

@media only screen and (min-width: 768px) {
    .resultArea {
        max-width: 768px;
    }
}