.control-bar {
    width: 100%;
    height: 45px;
    color: #19BFCE;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 480px;
    .left-items {
        flex: 0 1 auto;
        align-self: center;
        padding-left: 7.5px;
        .item {
            padding-right: 7.5px;
            padding-left: 7.5px;
            &.alert-icon{
                color: #19BFCE;
            }
        }
    }
    .right-items {
        flex: 0 1 auto;
        align-self: center;
        padding-right: 7.5px;
        .item {
            padding-right: 7.5px;
            padding-left: 7.5px;
        }
    }
}

.right {
    float: right;
}

.left {
    float: left;
}

@media only screen and (min-width: 768px) {
    .control-bar {
        max-width: 768px;
    }
}