$header-font-size-primary: 40px;

.headerRibbon {
    width: 100%;
    height: $header-font-size-primary*2;
    background-color: #19BFCE;
    color: #ffffff;
    padding-left: 7.5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 480px;
    .headerContent {
        .headerTextPrimary {
            font-size: $header-font-size-primary;
            padding-bottom: 7.5px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .headerRibbon {
        max-width: 768px;
    }
}